:root {
    --base-color: #945200;
    --secondary-color: #6c757d; /* Gray color */
    --accent-color: #ffc107; /* Yellow color */
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: var(--base-color);
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 20%;
}
.navbar-left,
.navbar-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-left li,
.navbar-right li {
    margin-right: 10px;
}

.navbar-left li:last-child,
.navbar-right li:last-child {
    margin-right: 0;
}

.navbar-left a,
.navbar-right a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.navbar-right a:hover,
.navbar-left a:hover{
    color: #660000;
    font-weight: 10;
}

/* CSS for image and text containers */
.imageContainer {
    float: left;
    width: 39%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Add some space between image and text */
    margin-left: 1%;
    margin-top: 1%;
}

.imageContainer img {
    width: 100%; /* Make the image fill its container */
    height: auto; /* Maintain aspect ratio */
    display: block;
}

.link {
    color: #660000; /* Blue color, adjust as needed */
    text-decoration: none; /* Remove default underline */
}

.link:hover {
    text-decoration: underline; /* Underline on hover */
}

.textContainer {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 8px;
    float: left; /* Float the text container to the left */
    width: 50%; /* Set width to 50% */
    padding: 20px; /* Add padding */
    box-sizing: border-box; /* Include padding in the width */
    margin-left: 1%;
    margin-top: 1%;
}

.logo {
    bottom: 1%;
    right: 1%;
    padding: 20px;
}

footer {
    background-color: var(--base-color);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* CSS styles for the banner */
header nav img {
    width: 65%; /* Set width to 100% */
    display: block; /* Ensure the image is displayed as a block element */
}

form {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 450px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 18px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(9, 9, 9, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
}

::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}