:root {
    --base-color: #945200;
    --secondary-color: #6c757d; /* Gray color */
    --accent-color: #ffc107; /* Yellow color */
  }

  .post {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilo para el contenedor del formulario de creación de publicaciones */
.create-post-container {
    max-width: 1000px;
    margin: 160px auto;
    background-color: #fff;
    padding: 50px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Añadido para asegurar que el contenido esté bien alineado */
}

/* Estilo para el título */
.create-post-container h1 {
    margin-left: 10px; /* Ajusta este valor según sea necesario */
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

/* Estilo para los grupos de formularios */
.create-post-container .form-group {
    margin-bottom: 15px;
}

/* Estilo para etiquetas del formulario */
.create-post-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Estilo para los campos de entrada del formulario */
.create-post-container input[type="text"],
.create-post-container select,
.create-post-container textarea,
.create-post-container input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo para el botón de publicación */
.create-post-container button {
    width: 100%;
    padding: 10px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-post-container button:hover {
    background-color: #e0a800;
}

/* Estilo para el campo de texto */
.create-post-container textarea {
    height: 100px;
    resize: vertical;
}

/* Estilo para mensajes de error */
.create-post-container .error {
    color: #ff0000;
    font-weight: bold;
    margin-top: 10px;
}

.post h2 {
    margin-top: 0;
}

.post h3 {
    color: #666;
}

.post img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    padding-bottom: 50px; /* Adjust this value based on the height of your footer */
}

header {
    background-color: var(--base-color);
    color: #fff;
    padding: 10px;
}

.create-form {
    color: #000000; /* Color de texto negro */
}
.create-form select {
    color: #000000; /* Color de texto negro para el select */
}
.create-form textarea {
    color: #000000; /* Color de texto negro para el select */
}

.create-form select option {
    color: #000000; /* Color de texto negro para las opciones del select */
}
.create-form label {
    color: #000000; /* Color de las etiquetas de texto negro */
}

.create-form input {
    color: #000000; /* Color del texto de entrada negro */
}

.create-form button {
    color: #000000; /* Color del texto del botón negro */
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Donation table*/
.donation-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

.donation-table tr {
    border: 1px solid black;
}

.donation-cell {
    padding: 10px;
    border: 1px solid black;
}

h3 {
    margin-top: 0;
}
/*End of donation table*/

.logo{
    width: 20%;
}
.navbar-left,
.navbar-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-left li,
.navbar-right li {
    margin-left: 30px;
}

.navbar-left li:last-child,
.navbar-right li:last-child {
    margin-right: 0;
}

.navbar-left a,
.navbar-right a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.navbar-right a:hover,
.navbar-left a:hover{
    color: #660000;
    font-weight: 10;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2%;
}

/* CSS for image and text containers */
.imageContainer {
    float: left;
    width: 35%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Add some space between image and text */
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 6%;
}

.imageContainer img {
    width: 100%; /* Make the image fill its container */
    height: auto; /* Maintain aspect ratio */
    display: block;
    border: 4px solid black; /* Add a black border */
}

.link {
    color: #660000; /* Blue color, adjust as needed */
    text-decoration: none; /* Remove default underline */
}

.link:hover {
    text-decoration: underline; /* Underline on hover */
}

.textContainer {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 8px;
    float: left; /* Float the text container to the left */
    max-width: 60%;
    padding: 20px; /* Add padding */
    box-sizing: border-box; /* Include padding in the width */
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

p{
    text-align: justify;
    text-justify: inter-word;
}

.logo {
    bottom: 1%;
    right: 1%;
    padding: 20px;
}

footer {
    background-color: var(--base-color);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed; /* Fixed position to stick it to the bottom */
    bottom: 0;
    width: 100%;
    height: 5%;
}

/* CSS styles for the banner */
header nav img {
    width: 65%; /* Set width to 100% */
    display: block; /* Ensure the image is displayed as a block element */
}

.login-form {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 460px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 57%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 18px 35px;
}


form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}

.login-form label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
}

.login-form input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(9, 9, 9, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.register-form {
    width: 60%;
    height: 470px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 18px 35px;
}

.register-form h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    margin-top: 10px;
}

.form-group {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.left-column,
.right-column {
    flex: 1;
}

.register-form label {
    display: block;
    font-size: 16px;
    font-weight: 600; /* Separate labels */
    margin-top: 10px;
}

.form-group input {
    display: block;
    height: 50px;
    width: 80%;
    background-color: rgba(9, 9, 9, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

.login-form button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.register-form button {
    margin-top: -51px;
    width: 50%;
    background-color: #ffffff;
    color: #080710;
    margin-left: 50%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    position: absolute;
    top: 0px; /* Ajusta la posición vertical */
    left: 10px; /* Ajusta la posición horizontal */
    background-color: #f8d7da; /* Color de fondo */
    color: #721c24; /* Color del texto */
    border: 1px solid #f5c6cb; /* Borde */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 14px; /* Tamaño de fuente */
    max-width: calc(100% - 20px); /* Asegura que no desborde el contenedor */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

.button-30 {
    align-items: center;
    appearance: none;

    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A; /* Text color */
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-right: 40px;
}

.button-30:focus {
    color: #36395A; /* Text color */
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    background-color: #FCFCFD; /* Keep the background color the same */
    color: #36395A; /* Text color */
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    background-color: #FCFCFD; /* Keep the background color the same */
    color: #36395A; /* Text color */
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
  
  .navbar-right {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-right li {
    display: flex;
    align-items: center;
  }