{% extends 'template.html' %}

{% block title %}Home | Medical Missions{% endblock %}

{% block content %}
    
    <div class="imageContainer">
        <img src="{{ url_for('static', filename='images/homed.png') }}"> 
    </div>
    
    <div class="textContainer">
        <h2>FLORIDA:</h2>
        <ul>
            <li>
                Silvia Ortiz (Coordinator)<br>
                Phone: (786) 229-7615<br>
                Email: <a href="mailto:medicalmissions@clmusa.org">medicalmissions@clmusa.org</a>
            </li>
            <li>
                Dr. Luis Raez<br>
                Email: <a href="mailto:lraez2003@yahoo.com">lraez2003@yahoo.com</a>
            </li>
        </ul>
    
        <h2>CALIFORNIA:</h2>
        <ul>
            <li>
                Brian Shields<br>
                Email: <a href="mailto:Brian_Shields@bus.emory.edu">Brian_Shields@bus.emory.edu</a>
            </li>
        </ul>
    
        <h2>COLORADO:</h2>
        <ul>
            <li>
                Dr. Francisco G. La Rosa<br>
                Phone: (303) 549-4450<br>
                Email: <a href="mailto:webmaster@clmusa.org">webmaster@clmusa.org</a>
            </li>
            <li>
                Dede and Ken Chism<br>
                Phone: (303) 932-1779<br>
                Email: <a href="mailto:ayaviri.mission@clmusa.org">ayaviri.mission@clmusa.org</a>
            </li>
            <li>
                Katy Brant (General Coordinator)<br>
                Phone: (303) 476-1358<br>
                Email: <a href="mailto:ayaviri.mission@clmusa.org">ayaviri.mission@clmusa.org</a>
            </li>
        </ul>
    
        <h2>Solidarity Experiences Abroad Inc:</h2>
        <ul>
            <li>
                Br. Raoul Masseur<br>
                Phone: (905) 340-0460<br>
                Email: <a href="mailto:rmasseur@gmail.com">rmasseur@gmail.com</a>
            </li>
            <li>
                Ms. Megan Blair RN<br>
                Phone: (905) 447-4472<br>
                Email: <a href="mailto:meganaliciablair@gmail.com">meganaliciablair@gmail.com</a>
            </li>
        </ul>
    
        <p>Mailing List: You can join our mailing list to keep you informed about our activities. Please, subscribe at: <a href="mailto:webmaster@clmusa.org">webmaster@clmusa.org</a></p>
    </div>
    
    
{% endblock %}