{% extends 'template.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="my-4">Edit Post</h1>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form method="POST" action="{{ url_for('editPosts') }}" enctype="multipart/form-data" class="card shadow-sm p-4">
                    <input type="hidden" name="post_id" value="{{ post[0] }}">
                    
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" id="title" name="title" class="form-control" value="{{ post[1] }}">
                    </div>
                    
                    <div class="mb-3">
                        <label for="subtitle" class="form-label">Subtitle:</label>
                        <input type="text" id="subtitle" name="subtitle" class="form-control" value="{{ post[2] }}">
                    </div>
                    
                    <div class="mb-3">
                        <label for="content" class="form-label">Content:</label>
                        <textarea id="content" name="content" class="form-control" rows="6">{{ post[3] }}</textarea>
                    </div>
                    
                    <div class="mb-3">
                        <label for="image" class="form-label">Image:</label>
                        {% if post[4] %}
                        <img src="{{ url_for('static', filename=post[4].split('static/')[1]) }}" alt="Current Image" class="img-fluid mb-3">
                        {% endif %}
                        <input type="file" id="image" name="image" class="form-control">
                    </div>
                    
                    <button type="submit" name="action" value="save" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
