{% extends 'template.html' %}

{% block title %}Home | Medical Missions{% endblock %}

{% block content %}
    
    <div class="imageContainer">
        <img src="{{ url_for('static', filename='images/home.png') }}">
    </div>

    <div class="textContainer">
        <h2>Goals</h2>
        <p>The main goal of our medical missions is to provide medical care to a large number of underserved people, among the poorest in Peru. They live in precariously built places around Lima (capital of Peru) and in the Highlands of the Peruvian Andes; they usually do not have water, electricity or sewer services. All volunteers use their free time with the goal to serve people in their greatest need.</p>
    
        <h2>Services</h2>
        <p>Most of the people who receive assistance are women, children, and the elderly. The children are usually malnourished and suffering from upper respiratory infections, diarrhea, parasitic diseases, and dermatological problems. The women become pregnant at early ages, have several children, and also suffer from precarious health. The elderly suffer from several chronic and debilitating diseases, blindness, osteoarthritis, etc.</p>
    
        <h2>Organization</h2>
        <p>Medical Missions to Peru is directed and coordinated by a team of volunteers that includes physicians, nurses, and non-healthcare personnel since its creation in October 2006.</p>
        <p>Our current Board Members include Luis E. Raez MD, Francisco G. La Rosa MD, Mr. Ken Chism, Dede Chism ARNP, and Brother Raoul Masseur.</p>
    </div>
{% endblock %}