{% extends 'template.html' %}

{% block title %}Mission Information | Medical Missions{% endblock %}

{% block content %}
<div class="imageContainer">
    {% for image in images %}
        
            <img src="{{ url_for('static', filename=image.split('static/')[1]) }}" alt="Mission Image">

        <br>
    {% endfor %}
</div>
<div class="textContainer">
    {% if mission %}
        <h1>{{ mission[1] }}</h1> <!-- Mission Name -->
        <p><strong>Start Date:</strong> {{ mission[2] }}</p> <!-- Date_to_begin -->
        <p><strong>End Date:</strong> {{ mission[3] }}</p> <!-- Date_to_end -->
        <p><strong>Itinerary:</strong></p>
        <ul>
            {% for item in mission[4].split('\n') if item.strip() %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
        <p><strong>Cost:</strong> ${{ mission[5] }}</p> <!-- Cost -->
        <p><strong>Description:</strong> {{ mission[6] }}</p> <!-- mission_cost_description -->
        <p><strong>Contact:</strong> {{ mission[7] }}</p> <!-- Contact -->
    {% else %}
        <p>Sorry, no information is available for the requested mission.</p>
    {% endif %}
</div>
<div class="textContainer">
    <h1>Ayaviri</h1>
    <p>The region of Ayaviri, Puno, Peru, high in the Peruvian Andes, is home to a beautiful culture of warm, gentle people. Sadly, more than 50% of this population is living in abject poverty, lacking even basic necessities, such as adequate food, clean water, housing, electricity, education and access to healthcare. Most are women and children. Our mission is to help. And we want you to join us.</p>
</div>
<div class="textContainer">
    <h1>Who we are</h1>
    <p>We are a Catholic organization that recruits medical providers, nurses and volunteers to execute yearly medical mission trips to Lima, Peru. We gather volunteers from the United States, Peru, and Canada and we encourage people from every faith to join us in our mission to provide basic medical care to the people of Ayaviri. We partner as well with a group of Peruvian medical providers, dentists, physical therapy, optometrists, and volunteers from the “Universidad San Pablo” in Arequipa, Peru. In Ayaviri, we work with a local nonprofit organization called “Caritas Ayaviri”. They facilitate everything prior to our arrival, during our stay, and wrapping up the mission. They also extend our mission year around, taking care of different patient care needs that are discovered by our mission.</p>
</div>
<div class="textContainer">
    <h1>Next trip [this should probably be editable]</h1>
    <p>We are now planning our thirteenth medical mission trip to Ayaviri. In 2019, our last mission before COVID19, we helped over 1400 people by providing medical care in Ayaviri and the surrounding rural villages. In 2022 we were blessed to go back to Ayaviri, but there were a few changes, including a change in the mission site. We probably won’t be able to see as many patients in our new space and we are adhering to local restrictions, and we will have new protocols in place to protect ourselves and the people we are serving.</p>
    <p>We know many of you have taken part in other medical mission trips, and we hope you will be inspired to be a part of our next mission. On occasion, we have a few too many volunteers, resulting in a wait list. When this happens, we do give priority to those who have been on a previous mission trip with us, as well as medical professionals and those who speak Spanish or Quechua. However, we invite everyone to volunteer, as there are always non-medical jobs to be done.</p>
</div>
<div class="textContainer">
    <h1>Donations</h1>
    <p>In addition to recruiting a great team of volunteers, we are also actively fundraising to make this trip possible. We accept donations to purchase medications in Peru, as well as for other medical supplies and food for the Ayaviri people. Donations of medicine and cash donations in the past have been a big part of what makes this trip possible. All donations in the US are tax-deductible (CLM Inc is a 501c3 institution). If you are planning on volunteering, you will have the chance to do personal fundraising through friends, family, or your workplace in order to get sponsorships for your trip. Donations can be made via personal check or by credit card through PayPal. <br> If you are unable to come with us, we encourage you to be part of our mission by considering a donation as well.</p>
</div>
<div class="textContainer">
    <h1>Preparations</h1>
    <p>Once you volunteer for this mission, you will be expected to attend approximately two planning session meetings before our next mission. Though these meetings take place in Denver you can join us from wherever you are via Zoom or conference call. The sessions will provide you with the background and information you will need to be packed properly and prepared for the duties (and the fun!) of our trip, as well as a chance to ask any questions you have.</p>
</div>
<div class="textContainer">
    <h1>Air Travel</h1>
    <p>Air travel plans must be made by each missioner and the cost is not included in the mission fees. Unfortunately, there are no direct flights to Cuzco. All the air travel will imply a layover and transfer in Lima International Airport. Several big airlines fly down to Lima and offer connection to Cuzco and depart Ayaviri.</p>
    <ul>
        <li><b>Arrival</b>
            <p>Air travel plans must be made by each missioner and the cost is not included in the mission fees. Unfortunately, there are no direct flights to Cuzco. All the air travel will imply a layover and transfer in Lima International Airport. Several big airlines fly down to Lima and offer connection to Cuzco and depart Juliaca.</p>
        </li>
        <li><b>Departure</b>
            <p>There are two regional airports that can be used to book the return flight from Ayaviri:</p>
            <ul>
                <li><b>Juliaca</b> is the nearest airport from Ayaviri, about 90 minutes by van. Most of our missioners leave from Juliaca and transportation to the airport will be arranged accordingly.</li>
                <li><b>Cuzco</b> is about 6 hours away by bus. It is usually cheaper to fly out of Cuzco but it implies another bus ride on Saturday, October 15th. The mission will provide a bus leaving Ayaviri by 7am and arriving in Cuzco’s airport by approximately 1pm. If you intend to take this bus back, please make sure your flight out of Cuzco is no earlier than 3pm. <br> Please be prompt to inform us of your travel plans but no later than September 1st, so we can plan accordingly.</li>
            </ul>
        </li>
    </ul>
</div>
<div class="textContainer">
    <h1>Travel within Peru</h1>
    <p>Machu Picchu is a significant archeological wonder, and you may want to plan a visit there while you’re in the area. In the cases of personal travel outside the group itinerary, we are unable to make any special arrangements for transportation, lodging or luggage storage. Our logistical coordinator in Peru is Renato Sander, who will be happy to assist and connect you with a Cuzco based travel agent that can arrange any land-based excursions prior to or after our planned days. You can reach Renato at: <a class="link" href="mailto:renatos@nder.us">renatos@nder.us</a></p>
</div>
<div class="textContainer">
    <h1>Volunteer Health</h1>
    <p>The elevation of Ayaviri is about 13,000 feet. Because of the altitude, it is very important that our volunteers adhere to our recommendations for ascent, including the days we spend in Cusco at about 11,000 feet to acclimate. There are some important health recommendations for the ascent that will be discussed in our pre-trip meetings.</p>
    <ul>
        <li>
            <b>COVID-19</b>
            <p>The safety of our missionaries and of our local population is a big concern of our mission:</p>
            <ul>
                <li>As per registration and contract with our mission organization, any possible symptoms of illness MUST be reported immediately to the mission coordinators and there will be an evaluation with our own medical staff about the risks and steps to be followed.</li>
                <li>Our mission organization cannot allow any COVID-19 positive volunteer to be together with the mission group or in contact with our patients.</li>
                <li>The mission organization is not responsible for costs of health treatment, lodging beyond those proper for the mission, food, or changes in airfares due to quarantine. No mission personnel will be able to accompany any sick volunteer in a hospital or stay in Peru beyond the days of the mission.</li>
            </ul>    
        </li>
    </ul>
    <p>Each volunteer is responsible to fulfill all health requirements for international travel according to Perú and US regulations.</p>
</div>
<div class="textContainer">
    <h1>Safety</h1>
    <p>Peru is a relatively safe country, and Cusco and Ayaviri are relatively safe cities. However, as with any international travel, there are known risks associated. We strongly request you follow all the organizers prompts for your safety. Beyond that, you will be responsible for your own safety during any personal excursions outside the mission activities, and if you choose to arrive earlier or stay beyond the set mission dates. <br> We do not allow minors unless they are accompanied by a parent or guardian.</p>
</div>
<div class="textContainer">
    <h1>Housing and Meals</h1>
    <p>We will be staying in a nice three-star hotel in Cusco and in a simple, almost one-star facility in Ayaviri. The lodging that is covered by the mission fee starts on Saturday, September 23rd and goes to the end of the mission, on September 30th.<br> All this information and many more details will be covered during our volunteer meetings prior to the mission. Please feel free to contact us if you have any question.</p>
</div>

{% endblock %}


