{% extends 'template.html' %}

{% block title %}Home | Medical Missions{% endblock %}

{% block content %}
    
    <div class="imageContainer">
        <img src="{{ url_for('static', filename='images/homed.png') }}"> 
    </div>

    <div class="textContainer">
        <h2>Seeking to Help the Poor</h2>
        <p>Seeking to help the poor, and to create life conditions according to human rights and dignity, the <a class="link" href="http://clmusa.org/">Christian Life Movement USA</a>, and <a class="link" href="http://www.solidaridadenmarcha.org/">Solidaridad en Marcha (SEM)</a> are working to provide medical care to the poorest of the poor in Peru and Latin America. Many of these children and families suffer from serious infections and diseases. In the past, our Medical Missions have aided approximately 3,500 patients per trip in an average of 3 days.</p>
    
        <h2>Upcoming Medical Mission Trips</h2>
        <ul>
            <li>
                <strong>AYAVIRI, Puno (Mountains, high altitude)</strong><br>
                September 22-30, 2023<br>
                Acclimatization in Cuzco followed by 4 days of intense medical campaign<br>
                Contact: Katy Brant (General Coordinator)<br>
                Email: <a class="link" href="mailto:ayaviri.mission@clmusa.org">ayaviri.mission@clmusa.org</a><br>
                Phone: 303-476-1358<br>
                <a class="link" href="https://medicalmissions.clmusa.org/ayaviri/index.html">Read More</a>
            </li>
        </ul>
    </div>
    
    
{% endblock %}